.right-sidenav{
  position: absolute;
  top:0;
  right: 0;
  width: 400px;
  height: 100%;
  background-color: #dddddd;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  margin: 8px 0;
  box-shadow: -10px 0px 10px 1px #e7eff6;
}
